body {
    margin: 0;
}

/* blinking typed cursor */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

section.hackathons, section.contact {
    margin-top: 40px;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.about .wrapper {
    position: relative;
}

.about h1 {
    position: absolute;
    top: -90px;
}

a.secondary {
    color: black;
}

.badge {
    background-color: #1EAEDB ;
    color: white ;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 5px;
    white-space: nowrap;
}

.projects ul li {
    margin-bottom: 30px;
}

.badge.secondary {
    background-color: #959496;
}

.hackathons ul {
    list-style: none;
}

.hackathons ul li{
    margin-right: 15px;
}

.hackathons img {
    width: 150px;
}